
body{
    background-image: url("../images/FondoWeb.png");
    color: white;
}

#content{

}

#header {
    min-height: 100px;
    max-height: 200px;
    background-color: black;
    border: 1px  solid yellow;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#footer{
    min-height: 50px;
    max-height: 90px;
    background-color: darkgrey;
}

#contactForm {
    background-color: black;
    border: 1px  solid yellow;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#navegacion {
    text-align: right;
}

#textArea {
    color: white;
    border: 1px solid yellow;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

#trailerVideo {
    display: block;
    margin: auto;
}

#bosses{
    background-image: url(../images/bosses/FondoBosses.jpg);
    width: 100%;
    height: auto;
}
