body{
    background-image: url("../images/FondoWeb.png");
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
}

#cabecera {
    background-color: black;
    border: 1px  solid yellow;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#contactForm {
    background-color: black;
    border: 1px  solid red;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#navegacion {
    text-align: right;
}

#textArea {
    color: white;
    border: 1px solid orange;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

#trailerVideo {
    display: block;
    margin: auto;
}

#armas {
    color: black;
    text-align: center;
    font-size: 50px;
    border: 2px solid red;
    border-radius: 5px;
  }

#fondoMapa {
    background-image: url("../images/FondoMapa.jpg");
    color: white;
}

#map {
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
}


#izquierda{
    background-image: url("../images/corsair.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20%;
    background-attachment: scroll;
}

#derecha{
    background-image: url("../images/origin.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20%;
    background-attachment: scroll;
}

.tableMap{
    width: 100%;
    height: 100%;
}

#mapArea {
    color: white;
    border: 1px solid yellow;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

#gracia {
    width: 66%;
    height: auto;
}

#gracia2{
    width: 50%;
    padding-right: 100px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

li {
    text-align: justify;
}
