
body{
    color: white;
}

#cabecera {
    background-color: black;
    border: 1px  solid yellow;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#contactForm {
    background-color: black;
    border: 1px  solid yellow;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#navegacion {
    text-align: right;
}

#textArea {
    color: white;
    border: 1px solid yellow;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

#trailerVideo {
    display: block;
    margin: auto;
}

#armas {
    color: black;
    text-align: center;
    font-size: 50px;
    border: 2px solid red;
    border-radius: 5px;
  }

#FondoArmas {
    color: black;
}

#Espadas{
    width: 100%;
    height: 50%;
}

#pepito{
    width: 10%;
    height: 20%;
}

#haland{
    width: 20%;
    height: 20%;
}
.DescArmas{
    width: 20%;
    background-color: grey;
    border: 2;
    border-radius: 5%;
}
#TablaArmas{
    width: 100%;
    height: 100%;
}

#hachas{
    width: 10%;
    height: 20%;
}

#fotoHachas{
    width: 100%;
    height: 50%;
}

#DescHachas{
    width: 20%;
    height: 20%;
}

#martillos{
    width: 10%;
    height: 20%;
}

#fotoMartillo{
    width: 100%;
    height: 50%;
}

#DescMartillos{
    width: 20%;
    height: 20%;
}