body{
    background-image: url("../images/FondoWeb.png");
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
}

.bordered {
    border: 2px  solid yellow;
    border-radius: 2px;
}

#Header {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    overflow: auto;
    color: yellow;
    margin-bottom: 20px;
    padding-left: 3%;
}

#Header table {
    width: 100%;
    text-align: left;
}

#HeaderNavButtons {
    text-align: right;
    padding-right: 20px;
}

#HeaderNavButtons a {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 20px;
    color: white;
}

#contactForm {
    background-color: hsla(120, 0%, 0%, 0.7);
    border: 1px  solid red;
    border-radius: 2px;
    padding: 5px;
    overflow: auto;
    color: yellow;
}

#textArea {
    color: white;
    border: 1px solid orange;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

#fondoMapa {
    background-image: url("../images/FondoMapa.jpg");
    color: white;
}

#map {
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
}

.tableMap{
    width: 100%;
    height: 100%;
}

#mapArea {
    color: white;
    border: 1px solid yellow;
    border-radius: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    background-color: hsla(120, 0%, 60%, 0.5);
}

#gracia {
    width: 66%;
    height: auto;
}

#gracia2{
    width: 50%;
    padding-right: 100px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

li {
    text-align: justify;
}
